h1 {
    color: blue;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.grid-6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.col img {
    width: 140px;
}

/* Mobile */
@media(min-width: 320px) and (max-width: 767px) {
    h1 {
        color: red;
    }

    .grid-6 {
        grid-template-columns: repeat(1, 1fr);
    }

    .col img {
        width: 100%;
    }
}


/* Tablet / Landscape Screen */
@media(min-width: 640px) and (max-width: 940px) {
    h1 {
        color: green;
    }

    .grid-6 {
        grid-template-columns: repeat(3, 1fr);
    }
}


/* Small Laptops */
@media(min-width: 940px) and (max-width: 1210px) {
    h1 {
        color: pink;
    }

    .grid-6 {
        grid-template-columns: repeat(4, 1fr);
    }
}


/* Large Laptop/ Desktop */
@media(min-width: 1210px) and (max-width: 1340px) {
    h1 {
        color: orange;
    }

    .grid-6 {
        grid-template-columns: repeat(5, 1fr);
    }
}