*{
    margin: 0;
    padding: 0;
}

/* boiler palet */
:root{
    /* padding */
    --p-0 : 0rem;
    --p-1 : 10px;
    --p-2 : 15px;
    --p-3 : 20px;
    --p-4 : 25px;
    --p-5 : 30px;


    /* padding-side */
    --pt-0 : 0rem;
    --pt-1 : 5px;
    --pl-1 : 5px;
    --pl-1 : 15px;
    --pb-2 : 10px;
    --pb-2 : 20px;
    --pr-3 : 15px;
    --pr-3 : 25px;
   

    /* margin-by-sides */
    --mt-0 : 0rem;
    --mt-0 : 5px;
    --ml-1 : 5px;
    --ml-1 : 15px;
    --mb-2 : 10px;
    --mb-2 : 20px;
    --mr-3 : 15px;
    --mr-3 : 25px;


    /* margin */
    --m-0 : 0rem;
    --m-1 : 10px;
    --m-2 : 15px;
    --m-3 : 20px;
    --m-4 : 25px;
    --m-5 : 30px;


    
    /* font-size */
    --fs-small: 16px;
    --fs-medium: 20px;
    --fs-large: 34px;
    --fs-xlarge: 40px;
    --fs-xxlarge: 60px;



    /* boarder-radius */
    --rounded-0 : 0rem;
    --rounded-1 : 10px;
    --rounded-2 : 15px;
    --rounded-3 : 20px;
    --rounded-4 : 25px;
    --rounded-5 : 30px;
    --rounded-pill: 60px;
    
}
