$colors: (
    primary: blue,
    danger: red,
    warning: orange,
    dark: black,
    success: green
);

.btn{
    padding: 10px 20px;
    border: none;
    border-radius: 2px;
}

@each $priyanshu, $om in $colors{
    .bg-#{$priyanshu}{
        background-color: $om;
    }
    .text-#{$priyanshu}{
        color: $om;
    }

    .btn-#{$priyanshu}{
        background-color: $om;
        color: white;

        &:hover{
            background-color: darken($om, 10);
        }

        &:focus{
            background-color: darken($om, 15);
        }
    }
}

// Library CSS + SCSS + JS - Web Development  