*{
    margin: 0;
    padding: 0;
}

.container{
    width: 90%;
    margin: 0 auto;
}


.grid-4{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.flex{
    display: flex;
      gap: 10px;
}

/* .flex > .col{
    width: 100%;
} */

.grid-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    /* justify-content: space-around; */
    /* justify-content: start; Defalut*/ 
    /* justify-content: end; */
   
}

nav ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    color: black;
     justify-content: end;
}

nav a{
    text-decoration: none;
    color: black;
}

header{
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.box{
    width: 100px;
    height: 100px;
    background-color: blue;
  
}