/* Universal */
*{
    margin: 0;
    padding: 0;
}

/* Simple Selector */

/* Combinator
    a. Child
    b. Descenent 
    c. sibling
    d. Adjustend 
*/

/* Psuedo Selector */

/* 
.card{
    width: 300px;
    height: 300px;
    padding: 10px;
    margin: 40px auto;
    border: 2px solid black;
} */


.card{
    padding: 10px;
    margin: 40px auto;
    border: 2px solid black;
}


.row-5{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.row-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.col{
     border: 1px solid green;
     padding: 10px;
}

h1{
    font-size: 60px;
}

.hero{
    padding: 40px 20px;
}

.hero-img{
    text-align: center;
}