.categories-tab .nav-pills .nav-link.active{
    background-color: black;
    color: white;
}

.categories-tab .nav-pills .nav-link:not(.active){
    color: black;
}

.accordion-button:not(.collapsed) {
    color: white !important;
    background-color: black !important;
    box-shadow: none !important;
}

@media(min-width: 320px) and (max-width: 767px){
    header{
        display: none;
    }
}   