.head{
    margin: 0, auto;
} 

 
.container{
    margin: 0, auto;
    width: 80%;
    padding-left: 10%;
}


h2{
    margin-bottom: 0%;
}


.grid1{
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 10 px;
}

.flex{
    display: flex;
    gap: 2px;
    justify-self:self-start;
    
}


.year{
    background-color: black;
    margin-right: 10%;
    color: aliceblue;
    padding-left: 0%;
}


.comment{
    color: gray;
}
   

 .icon-box {
      text-align: center;   /* icons ko center align karega */
      margin-top: 50px;
    }
    .icon-box i {
      font-size: 20px;
      margin: 20px;
      color: #141414;
    }
  

.f-p{
    margin-top: 0px;
    text-align: center;
}

